
@import "./_variables";
@import "./globals";
@import "./theme";

/* Override */
.v-application,
.v-application--wrap { min-height: 100% !important; }
.v-expansion-panel-content__wrap { padding: 0 10px 20px !important; }
.v-expansion-panels.v-expansion-panels--accordion { 
	border-top: thin solid !important;
	border-bottom: thin solid !important;
	border-color: rgba(0,0,0,.12) !important; 
}

/* Custom */
* {
	letter-spacing: 0px !important;
	line-height: 1.25;
}

.container { padding: 10px !important; max-width: initial !important; }

/*
	* MOBILE LAYOUT
*/
.mobile-container { 
	grid-template-rows: auto 1fr auto; 
}

/*
	* DESKTOP LAYOUT
*/
.desktop-container { 
	grid-template-rows: auto 1fr; 
	.page-content { 
		grid-template-columns: $sidebar-width 1fr;
		@media (min-width: 1280px) {
			grid-template-columns: $sidebar-width-lg 1fr;
		}
	}
	.page-body { grid-template-rows: auto 1fr; }
}

.notes {
	padding: 10px;
	margin-bottom: 20px;
	background-color: $primary-light;
	* {
		font-style: italic !important;
	}
}

.notes > :last-child { margin-bottom: 0 !important; }